/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* inzio header  */
.header-logo{
    padding: 10px;
    background-color:#fff;
}
#logo{
    height: 50px;
    vertical-align: middle;
}
#logo-text{
    font-size: 40px;
    color: #000;
    vertical-align: middle;
    font-weight: bold;
}
/* fine header */

/* inzio main */
body{
    background-color: gray;
   
}
#container{
    width: 70%;
    margin: 0 auto;
}

/*  inzio botton */
.button{
    margin-top: 50px;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
}

#azzuro{
    padding: 5px;
    background-color: #47adf1;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    border-color: #47adf1;
}
#bianco{
    padding: 5px;
    background-color:#fff;
    border-radius: 5px;
    color:gray;
    font-weight: bold;
    border-color:gray;
}
/* fine botton */
/* inizio lista */

.liste{
    margin-top:3px;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
}

h1:before{
    content: '\25BC';
}
#check{
    display: inline-block;
    color: #87e5d1;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-color: #000;
    text-align: center;
    vertical-align: middle;
}
#editorial{
    color: #fff;
    background-color:#47adf1;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    font-size:x-small;
}