/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-logo{
    vertical-align: middle;
}
#logo{
    height: 50px;
}
#logo-text{
    font: 100;
    color: blueviolet;
}