/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* sfondo pagina */
body{
    background-color: #b1bbf8;
}

/* inzio header  */
header{
    padding: 10px;
    background-color:#fff;
}
#logo{
    height: 50px;
    vertical-align: middle;
}
#logo-text{
    font-size: 40px;
    color: #000;
    vertical-align: middle;
    font-weight: bold;
}
/* fine header */

/* inzio main */
#container{
    width: 70%;
    margin: 0 auto;
}

/*  inzio button */
.bottoni{
    margin-top: 50px;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
}

button{
    padding: 5px;
    background-color:#fff;
    border-radius: 5px;
    color:gray;
    font-weight: bold;
    border-color:gray;
    border: solid 1px;
}
#azzuro{
    background-color: #47adf1;
    color: #fff;
    border-color: #47adf1;
    
}
/* fine button */
/* inizio lista */

ul{
    list-style: none;
}

.liste{
    margin-top:3px;
    margin-bottom: 10px;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #000;
}
h2{
    margin-top: 20px;
}
h2:before{
    content: '\23F7';
}
li{
    padding: 10px;
}
li li{
    padding: 10px 0px;
}

/* inizio simboli check-cross */
.circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    line-height: 20px;
}
.check{
    color: #87e5d1;
    border-color:#87e5d1;
    
}
.check::before{
    content:'\2713';
}
.cross{
    color: #ff2828;
    border-color:#ff2828;
}
.cross::before{
    content: '\2717';
}

/* inizio postit */
.postit{
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    font-size:x-small;

}
.editorial{
    background-color:#47adf1;
    
}
.q1{
     background-color: #9c72e4;
}
   
.recruiting{
    background-color: #64c0a9;
}

.mobile{
    background-color: #f29e33;
}
.website{
    background-color: #d863a1;
}
.sales{
    background-color: #b0c926;
}